body {
  font-family: "Mochiy Pop One", sans-serif;
  background-color: rgb(58, 58, 136);
  color: white;
}

.main {
  border: 3px solid black;
}

.heading {
  position: relative;
  padding-left: 3%;
  padding-top: 4%;
  -webkit-box-reflect: below;
}

.heading span {
  position: relative;
  display: inline-block;
  font-size: 48px;
  font-weight: 100;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 7%;
}

.subtitle {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.refresh {
  border: 2px solid black;
  padding: 1%;
  background-color: transparent;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.75);
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-ul {
  width: 60%;
}

.li {
  list-style: none;
  border-bottom: 1px solid black;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: black;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-left: 5%;
  box-shadow: -5px -3px 9px 1px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: -5px -3px 9px 1px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: -5px -3px 9px 1px rgba(0, 0, 0, 0.54);
}

.li:hover {
  transform: scale(1.05);
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}

form input {
  border: 2px solid black;
  padding: 2%;
}

form input :placeholder {
  font-weight: bold;
  font-family: "Mochiy Pop One", sans-serif;
}

.btn {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

form button {
  width: 20%;
  right: 0%;
  padding: 2%;
  border: 2px solid black;
}

footer {
  background-color: antiquewhite;
  height: 50px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.fa-arrow-down {
  color: black;
  padding-left: 3%;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 15px, 0);
  }
}
